@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* ========= TAG SELECTORS ========= */

body {
  color: black;
  background-color: lightblue; 
  display:inline-block;
  font-family: 'Montserrat', sans-serif;
  width: 350px;
}

button {
  border-radius: 1.5rem;
  border: 1px solid #0C5;
  background-color: #0C5;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px 15px;
  text-transform: uppercase;
  transition: transform 200ms ease-in;
}

button:active {
  transform: scale(0.8);
}

button:focus {
  outline: none;
}

.button:hover {
  color: #0C5;
  border-color: #0C5;
  background: #FFFFFF;
  text-decoration: none;
  transform: scale(0.96);
}

button.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}


/* ========= CLASS SELECTORS ========= */
.container {
  font-size: 15px;
}

.check {
  font-size: 15px;
  margin-top: 20px;
}

#site {
  color:blue;
  font-size: 1rem;
}

.title {
  font-size: 2.3rem;
  padding: 0 5px 0 5px;
}

.wrapper {
  font-size: 1.2rem;
}


/* ========= ID SELECTORS ========= */

#div1, #div2, #div3 {
  font-size:20px;
  font-weight: bolder;
  line-height: 50px;
  text-align:center;
  vertical-align: middle;
}

#div1 {
  color: #0C5;
}

#div2 {
  color: orange;
}

#div3 {
  color: red;
}

#div-gif {
  background-color: #FFFFFF;
  border-radius: 1.5rem;
  display: none;
  height: 50px;
  margin-top: 10px;
  width: 150px;  
}

#loader-gif {
  display: none;
  vertical-align: middle;
}